@use '../chart';

:host {
	display: block;
	height: 100%;

	--highcharts-color-0: #{chart.$output};
	--highcharts-color-1: #{chart.$asymptotic};
	--highcharts-color-2: #{chart.$stability};

	::ng-deep {
		@include chart.stability-margin-annotations;

		.highcharts-color-2 .highcharts-graph {
			stroke-width: var(--app-thin-width);
		}

		.highcharts-color-3 {
			visibility: hidden;
		}

		.highcharts-xaxis-grid {
			@include chart.major-and-minor-grid;
		}
	}
}

.chart-gain-element {
	display: block;
	height: 50%;
	margin-bottom: 1em;

	::ng-deep {
		.highcharts-xaxis .highcharts-axis-line {
			display: none;
		}
	}
}

.chart-phase-element {
	display: block;
	height: calc(50% - 1em);

	::ng-deep {
		.highcharts-yaxis-grid {
			@include chart.major-and-minor-grid;
		}
	}
}
