@use '../chart';

:host {
	display: block;
	height: 100%;

	::ng-deep {
		@include chart.stability-margin-annotations;

		.highcharts-color-0 {
			stroke: chart.$output;
			fill: chart.$output;
		}

		.highcharts-color-1 {
			stroke: chart.$asymptotic;
			fill: chart.$asymptotic;
		}

		.highcharts-color-2 .highcharts-graph {
			stroke: chart.$stability;
			stroke-width: 1px;
		}

		.highcharts-color-3 {
			visibility: hidden;
		}

		.highcharts-xaxis-grid {
			.highcharts-grid-line { stroke-width: 2px; }
			.highcharts-minor-grid-line { stroke-width: 1px; }
		}
	}
}

.chart-gain-element {
	display: block;
	height: 50%;
	margin-bottom: 1em;

	::ng-deep {
		.highcharts-xaxis .highcharts-axis-line {
			display: none;
		}
	}
}

.chart-phase-element {
	display: block;
	height: calc(50% - 1em);

	::ng-deep {
		.highcharts-yaxis-grid {
			.highcharts-grid-line { stroke-width: 2px; }
			.highcharts-minor-grid-line { stroke-width: 1px; }
		}
	}
}
