@use '../chart';

:host {
	display: block;
	height: 100%;

	::ng-deep {
		@include chart.stability-margin-annotations;

		--highcharts-color-0: #{chart.$output};
		--highcharts-color-1: #{chart.$stability};
		
		.highcharts-color-1 .highcharts-point {
			stroke-width: 2px;
		}

		.highcharts-xaxis-grid {
			@include chart.major-and-minor-grid;
		}
	}
}
