@use '../chart';

:host {
	display: block;
	height: 100%;

	--highcharts-color-0: #{chart.$input};
	--highcharts-color-1: #{chart.$output};
	--highcharts-color-4: #{chart.$rapidity};
	
	::ng-deep {
		.highcharts-color-2, .highcharts-color-3 {
			.highcharts-graph {
				stroke: chart.$output;
				stroke-dasharray: var(--app-long-dash-dot);
				stroke-width: var(--app-thin-width);
			}
		}

		.highcharts-color-4 {
			.highcharts-graph {
				stroke-width: var(--app-thin-width);
			}
			.highcharts-area {
				fill-opacity: 0.5;
			}
		}

		.highcharts-color-5 {
			display: none;
		}

		.highcharts-xaxis-grid .highcharts-grid-line {
			stroke-width: 1px;
		}
	}
}
