<mat-toolbar color="primary" role="header">
	<span>Asservissement</span>
	<span class="spacer"></span>
	@for (tilesMode of tilesModesList; track $index) {
		<button
			mat-icon-button
			[matTooltip]="tilesModes[tilesMode].title"
			[disabled]="state.tilesMode() === tilesMode"
			(click)="state.setTilesMode(tilesMode)"
		>
			<img src="../assets/tiles/{{state.tilesMode() === tilesMode ? 'enabled' : 'disabled'}}/{{tilesMode}}.png" alt="Mode d'affichage {{tilesMode}}" />
		</button>
	}
</mat-toolbar>

<mat-sidenav-container fullscreen>
	<mat-sidenav mode="side" disableClose="true" opened>
		<button mat-raised-button [matMenuTriggerFor]="menu">
			<span>Ajouter…</span>
		</button>
		<mat-menu #menu="matMenu">
			@for (simpleElementType of simpleElementTypes; track $index) {
				@if (simpleElementType !== null) {
					<button mat-menu-item (click)="state.addSimpleElement(simpleElementType[1]())">
						{{simpleElementType[0]}}
					</button>
				}
				@else {
					<mat-divider />
				}
			}
		</mat-menu>
		@for (simpleElement of state.simpleElements(); track $index) {
			<app-simple-element
				[simpleElement]="simpleElement"
				(remove)="state.removeSimpleElement(simpleElement)"
				@items
			/>
		}
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="transfer-function-texs">
			<div [appMath]="transferFunctionTex()"></div>
			<div [appMath]="transferFunctionClosedLoopTex()"></div>
		</div>
		<app-graphs-grid [transferFunction]="transferFunction()" />
	</mat-sidenav-content>
</mat-sidenav-container>
