<mat-toolbar color="primary" role="header">
	<span>Asservissement</span>
	<span class="spacer"></span>
	<button
		*ngFor="let tilesModeType of [0, 1, 2, 3]"
		mat-icon-button
		[disabled]="tilesMode == tilesModeType"
		(click)="tilesMode = tilesModeType"
	>
		<img src="../assets/tiles/{{tilesMode === tilesModeType ? 'enabled' : 'disabled'}}/{{tilesModeType}}.png" />
	</button>
</mat-toolbar>

<mat-sidenav-container fullscreen>
	<mat-sidenav mode="side" disableClose="true" opened>
		<button mat-raised-button [matMenuTriggerFor]="menu">
			<span>Ajouter…</span>
		</button>
		<mat-menu #menu="matMenu">
			<ng-container *ngFor="let simpleElementType of simpleElementTypes; let index = index">
				<button mat-menu-item *ngIf="simpleElementType !== null" (click)="add(index)">
					{{simpleElementType[0]}}
				</button>
				<mat-divider *ngIf="simpleElementType === null"></mat-divider>
			</ng-container>
		</mat-menu>
		<app-simple-element
			*ngFor="let simpleElement of simpleElements; let index = index;"
			[(simpleElement)]="simpleElements[index]"
			(change)="update()"
			(remove)="remove(index)"
			@items
		></app-simple-element>
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="transfer-function-texs card">
			<div [appMath]="transferFunctionTex"></div>
			<div [appMath]="transferFunctionClosedLoopTex"></div>
		</div>
		<div [appExplicitGrid]="['1:1', '2:1', '1:2', '2:2'][tilesMode]" class="graphs">
			<app-graph [transferFunction]="transferFunction" class="card"></app-graph>
			<app-graph [transferFunction]="transferFunction" *ngIf="tilesMode >= 1" class="card"></app-graph>
			<app-graph [transferFunction]="transferFunction" *ngIf="tilesMode >= 3" class="card"></app-graph>
			<app-graph [transferFunction]="transferFunction" *ngIf="tilesMode >= 3" class="card"></app-graph>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
