<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<mat-toolbar color="primary" role="header">
	<span>Asservissement</span>
	<span class="spacer"></span>
	@for (tilesModeType of [0, 1, 2, 3]; track $index) {
		<button
			mat-icon-button
			[disabled]="tilesMode() == tilesModeType"
			(click)="tilesMode.set(tilesModeType)"
		>
			<img src="../assets/tiles/{{tilesMode() === tilesModeType ? 'enabled' : 'disabled'}}/{{tilesModeType}}.png" alt="Mode d'affichage {{tilesModeType}}" />
		</button>
	}
</mat-toolbar>

<mat-sidenav-container fullscreen>
	<mat-sidenav mode="side" disableClose="true" opened>
		<button mat-raised-button [matMenuTriggerFor]="menu">
			<span>Ajouter…</span>
		</button>
		<mat-menu #menu="matMenu">
			@for (simpleElementType of simpleElementTypes; track $index) {
				@if (simpleElementType !== null) {
					<button mat-menu-item (click)="add($index)">
						{{simpleElementType[0]}}
					</button>
				}
				@else {
					<mat-divider />
				}
			}
		</mat-menu>
		@for (simpleElement of simpleElements(); track $index) {
			<app-simple-element
				[simpleElement]="simpleElement"
				(update)="update()"
				(remove)="remove($index)"
				@items
			/>
		}
	</mat-sidenav>
	<mat-sidenav-content>
		<div class="transfer-function-texs card">
			<div [appMath]="transferFunctionTex()"></div>
			<div [appMath]="transferFunctionClosedLoopTex()"></div>
		</div>
		<div [appExplicitGrid]="['1:1', '2:1', '1:2', '2:2'][tilesMode()]" class="graphs">
			<app-graph [transferFunction]="transferFunction()" class="card" />
			@if (tilesMode() >= 1) { <app-graph [transferFunction]="transferFunction()" class="card" /> }
			@if (tilesMode() >= 3) { <app-graph [transferFunction]="transferFunction()" class="card" /> }
			@if (tilesMode() >= 3) { <app-graph [transferFunction]="transferFunction()" class="card" /> }
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
