$input: #1f77b4;
$output: #ff7f0e;
$rapidity: #2ca02c;
$asymptotic: #d62728;
$stability: #9467bd;

@mixin major-and-minor-grid {
	.highcharts-grid-line { stroke-width: 2px; }
	.highcharts-minor-grid-line { stroke-width: 1px; }
}

@mixin stability-margin-annotations {
	.highcharts-annotation-shapes {
		pointer-events: none;
		stroke: $stability;
		fill: $stability;

		.line {
			fill: none;
			stroke-dasharray: var(--app-long-dash-dot);
			stroke-width: var(--app-thin-width);
		}

		.arrow-line {
			fill: none;
			stroke-width: var(--app-thick-width);
		}

		.arrow-head {
			stroke-width: var(--app-thin-width);
		}
	}
}
