<mat-card appearance="outlined">
	<mat-card-content>
		<form>
			<div class="title">
				<h4>{{simpleElement?.name}}</h4>
				<button type="button" mat-icon-button aria-label="Remove" (click)="remove.emit()">
					<mat-icon>close</mat-icon>
				</button>
			</div>
			
			@for (characteristic of simpleElement?.characteristics; track $index) {
				<mat-form-field>
					<mat-label>{{characteristic.name}}</mat-label>
					<input
						matInput type="number" name="characteristic-{{$index}}" #input="ngModel"
						[(ngModel)]="characteristic.value" (ngModelChange)="onChange(input.viewModel !== null)"
						[min]="characteristic.minValue" [step]="characteristic.step"
					/>
				</mat-form-field>
			}
		</form>
	</mat-card-content>
</mat-card>
