:host {
	display: flex;
	height: 100%;
}

.button-toggle-groups {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

mat-button-toggle-group {
	margin: 10px;
}

mat-button-toggle {
    height: 2em;
	display: flex;
    align-items: center;
	font-size: 1em;
}

.graph {
	height: 100%;
	flex-grow: 1;
	flex-basis: 0;
	overflow: hidden;
}
